<header class="bg-primary">
    <div class="conatiner">
      <div class="row ms-0 me-0 align-items-center">
        <div class="col-md-8">
          <div class="head-title justify-content-start text-light">
            <h4>Job Application</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="head-detail justify-content-end">
              <ul class="navbar nav  justify-content-end me-5">
                <li class="nav-item ">
                    <div ngbDropdown class="d-inline-block ">
                        <button type="button" class="btn text-light border-none fs-6" id="dropdownBasic1" ngbDropdownToggle>
                                 Register
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown">
                          <button ngbDropdownItem class="nav-link text-dark fs-6"><span class="me-1"><i class="fa-solid fa-circle-user"></i></span> Register as Client</button>
                          <button ngbDropdownItem class="nav-link text-dark fs-6"><span class="me-1"><i class="fa-solid fa-circle-user"></i></span> Register as Freelancer</button>
                        </div>
                      </div>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link text-light fs-6">How It's Work</a>
                </li>
             
                <li class="nav-item">
                    <a href="" class="nav-link text-light fs-6">Contact Us </a>
                  </li>
        
              </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <nav class="bg-light border-bottom">
    <div class="conatiner">
      <div class="nav-content">
        <ul class="navbar nav text-center justify-content-md-center">
            <li class="nav-item me-5">
              <a href="" class="nav-link text-secondary"><span class="pe-2 text-secondary">
                <i class="fa-regular fa-paper-plane"></i>
              </span>Post Job</a>
            </li>
            <li class="nav-item me-5">
              <a href="" class="nav-link text-secondary"><span class="pe-1 text-secondary">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span> New Job</a>
            </li>
            <li class="nav-item me-5">
              <a href="" class="nav-link text-secondary"><span class="pe-2 text-secondary">
                <i class="fa-solid fa-compass">
                </i>
              </span>Explore App</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
